body {
  font-family: 'Ubuntu Mono', monospace;
}

header {
  padding: 40px;
  background-color: lightblue;
  text-align: center;
}

header h1 {

}

section {
  text-align: center;
  background-color: lightseagreen;
}

.gallery img {
  height: 300px;
  margin: 0px 10px;
}

footer {
  text-align: center;
  padding: 40px;
  background-color: lightgoldenrodyellow;
}
